.todo-container{
    color: rgb(32, 32, 32);
}
.todo-container > div > div {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.todo-container > div > hr {
    border-color: rgb(43, 42, 42);

}