.todo-list{
    text-align: left;
    width: 400px;
    background-color:#ffffff; 
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
}

.item-enter {
    opacity: 0;
  }
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}